<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='shortcut icon' href='/img/favicon.ico' type='image/x-icon' />
    <title> WikiCountry | {{title}}</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <main>
      {{>header}}
      <section class="main-content">
        <div class="documentation-content">
          <h2>Documentation Guide</h2>
          <p>The documentation has been detailed in the github README file. You can test out the API or navigate to the documentation using the following options below.</p>
          <div>
            <a href="/country?location=" target="_blank">Test API</a>
            <a href="https://github.com/soyed/wikicountry#readme" target="_blank">API Documentation</a>
          </div>
      </section>
      {{>footer}}
    </main>
  </body>
</html>