<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='shortcut icon' href='/img/favicon.ico' type='image/x-icon' />
    <title> WikiCountry | Home </title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <main>
      {{>header}}
      <section class="main-content">
        <div class="country-content">
          <h2>Enter a city or country below. Information about that country will be displayed for the queried city or country.</h2>
          <div class="country--inputs">
            <div>
               <input type="text" name="country" placeholder="Enter city or country">
            <div class="search-box">
              <button>Search</button>
            </div>
            </div>
             
          </div>
          <div class="country--details">
            <div class="card">
              <div class="card--header">
                <img src="/img/favicon.ico" alt="">
              </div>
              <div class="card--content">
                <div>
                  <p><span>Name:</span> %Name%</p>
                </div>
                <div>
                  <p><span>Capital:</span> %Capital%</p>
                </div>
                <div>
                  <p><span>Continent:</span> %Continent%</p>
                </div>
                <div>
                  <p><span>Number of cities:</span> %num_cities%</p>
                </div>
                <div>
                  <a href="#" target="_blank">See more info</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      {{>footer}}
    </main>
  </body>
</html>