<header>
  <h1>{{title}}</h1>
  <nav>
    <ul>
      <li><a href='/'>Country</a></li>
      <li><a href='/about'>About</a></li>
      <li><a href='/documentation'>Documentation</a></li>
    </ul>
  </nav>
</header>