*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

a:link,
a:visited {
  text-decoration: none;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.5rem;
}

main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  padding: 0 5rem;
}

header h1 {
  margin-bottom: 3rem;
  font-size: 4rem;
}

header nav {
  display: flex;
  align-items: center;
  padding: 2rem;
  margin-bottom: 3rem;
  background-color: darkgoldenrod;
}

header nav ul {
  display: flex;
}
header nav ul li {
  margin-right: 1.5rem;
}
header nav ul li a {
  padding: 1rem 1.5rem;
  color: white;
  cursor: pointer;
  font-size: 1.7rem;
  transition: all 0.5s ease-in-out;
}

header nav ul li a:hover,
header nav ul li a:active {
  background-color: white;
  color: darkgoldenrod;
}

.main-content {
  display: flex;
  flex-grow: 1;
}

.error-container,
.country-content {
  flex: 1 0 auto;
}

.country-content,
.about-content,
.documentation-content {
  display: flex;
  margin: 0 5rem;
  flex-direction: column;
}

.country-content h2 {
  margin-bottom: 4rem;
  font-size: 1.75rem;
  line-height: 1.5;
  font-weight: 600;
}

.country--inputs {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 3rem;
}

.country--inputs form {
  display: flex;
  width: inherit;
}

.country--inputs form input {
  width: 40%;
  margin-right: 2rem;
  padding: 1rem 0.5rem;
  font-size: 1.6rem;
  border: 0.1rem solid darkgoldenrod;
  border-radius: 0.5rem;
  outline: none;
}

.search-box button {
  padding: 1.5rem 3rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  background-color: darkgoldenrod;
  cursor: pointer;
  color: white;
  font-size: 1.6rem;
  transition: all 0.5s ease-in-out;
}

.search-box button:hover,
.search-box button:active {
  color: darkgoldenrod;
  border: 0.1rem solid darkgoldenrod;
  background-color: transparent;
}

.country--details {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10rem 0;
}

.card--loading {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 0.5rem solid antiquewhite;
  border-top: solid 0.5rem darkgoldenrod;
  animation: spinner 2s ease-in-out infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.card {
  height: 45rem;
  width: 40rem;
  border-radius: 1rem;
  background-color: antiquewhite;
}

.card--header,
.card--content {
  width: 100%;
}

.card--header {
  height: 40%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.card--header img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.card--content {
  height: 60%;
  padding: 2rem;
}

.card--content > div {
  display: flex;
  align-items: center;
  height: 20%;
  font-size: 1.6rem;
}

.card--content > div p {
  font-size: 1.4rem;
}
.card--content > div p span {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2rem;
}
.card--content div:last-child {
  justify-content: center;
}

.card--content div:last-child a {
  background-color: white;
  padding: 0.8rem 3rem;
  border-radius: 0.5rem;
  border: 0.1rem solid darkgoldenrod;
  text-transform: uppercase;
  color: darkgoldenrod;
  letter-spacing: 0.2rem;
  font-size: 1.3rem;

  transition: all 0.5s ease-in-out;
}

.card--content div:last-child a:hover,
.card--content div:last-child a:active {
  background-color: darkgoldenrod;
  border: none;
  color: white;
}

.error-container {
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
  align-items: center;
}
.error-container div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkgoldenrod;
  color: white;
  padding: 5rem 10rem;
}
.error-container div p {
  font-size: 1.7rem;
}

.about-content h2,
.documentation-content h2 {
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

.about-content h3 {
  margin: 2rem 0;
  font-size: 1.75rem;
  letter-spacing: 0.1rem;
}

.summary,
.details {
  line-height: 2;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.details a {
  color: red;
  text-decoration: underline;
  font-weight: 600;
  margin: 0 0.2rem;
}

.github--container {
  margin: 3rem 0;
}
.documentation-content p {
  font-size: 1.6rem;
  line-height: 1.4;
  margin: 3.5rem 0;
}

.documentation-content div {
  display: flex;
  align-items: center;
}

.documentation-content div a,
.github--container a {
  padding: 1rem 1.5rem;
  margin-right: 1.5rem;
  border: 0.2rem solid darkgoldenrod;
  transition: all 0.5s ease-in-out;
  border-radius: 0.5rem;
  color: black;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
}

.github--container a {
  margin-right: initial;
  text-transform: uppercase;
  padding: 1rem 2rem;
  font-size: 1.3rem;
}

.documentation-content div a:hover,
.documentation-content div a:active,
.github--container a:hover,
.github--container a:active {
  border: none;
  background-color: darkgoldenrod;
  color: white;
}

footer {
  display: flex;
  padding: 5rem 2rem;
  background-color: darkgoldenrod;
  margin: 0 5rem;
}

footer p {
  font-size: 1.7rem;
  line-height: 1.2;
  color: white;
}

@media screen and (max-width: 900px) {
  header {
    padding: 0 3rem;
  }
  .country-content,
  .about-content,
  .documentation-content {
    margin: 0 3rem;
    flex-direction: column;
    width: 90%;
  }

  footer {
    margin: 0 3rem;
  }
}

@media screen and (max-width: 600px) {
  header {
    padding: 0 1.5rem;
  }

  header nav ul li {
    margin-right: 1rem;
  }

  footer {
    margin: 0 1.5rem;
  }

  .error-container div {
    padding: initial;
    padding: 5rem 0;
    width: 70%;
  }

  .country-content,
  .about-content,
  .documentation-content {
    margin: 0 1.5rem;
    flex-direction: column;
    width: 90%;
  }

  .country--inputs form {
    flex-direction: column;
    align-items: center;
  }
  .country--inputs form input {
    width: 95%;
    margin-right: initial;
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }

  .search-box button {
    padding: 1rem 3rem;
    font-size: 1.5rem;
  }
}
